.impression-form {
  @media (min-width: @tablet-width) {
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 56px;
  }
}

.impression-form__wrapper {
  @media (min-width: @tablet-width) {
    margin-left: 56px;
    margin-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 134px;
    margin-bottom: 56px;
  }
}

.impression-form__list {
  list-style-type: none;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
    padding: 18px 20px 3px 20px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 296px 280px;
    row-gap: 1px;
    margin-top: 6px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    column-gap: 28px;
    margin-top: 44px;
  }
}

.impression-form__field {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.impression-form__item {
  display: flex;
  align-items: center;
  height: 46px;


  @media (max-width: @mobile-width-only) {
    width: 88%;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }
}

.impression-form__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 62px;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 18px;
  }
}

@media (min-width: @tablet-width) and (max-width: 1199.98px) {
  .impression-form__header {
    margin-top: 0;
    overflow: hidden;
    text-align: center;
  }

  .impression-form__header p {
    display: inline-block;
    vertical-align: middle;
  }

  .impression-form__header::before,
  .impression-form__header::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    position: relative;
  }

  .impression-form__header::before {
    margin-left: -100%;
    left: -55px;
  }

  .impression-form__header::after {
    margin-right: -100%;
    right: -55px;
  }
}

@media (min-width: @desktop-width) {
  .impression-form__header::before,
  .impression-form__header::after {
    width: 280px;
  }

  .impression-form__header {
    margin: 0;
  }
}

.impression-form__title {
  @media (max-width: @mobile-width-only) {
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.impression-form__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: #f2f2f2;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 16px;
  }
}

.impression-form__mark:hover {
  background: #e5e5e5;
}

.impression-form__mark:focus {
  outline: 3px solid #f2f2f2;
  outline-offset: -3px;
  background: #d5d5d5;
  border-radius: 5px;
}

.impression-form__input[type="radio"] + .impression-form__mark {
  border-radius: 50%;
}

.impression-form__input[type="radio"]:checked + .impression-form__mark {
  background-image: url("../../img/radio.svg");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
}


.impression-form__input[type="radio"]:hover + .impression-form__mark {
  background-color: #e5e5e5;
  border-radius: 50%;
}

.impression-form__input[type="radio"]:active + .impression-form__mark {
  background-color: #d5d5d5;
  border-radius: 50%;
}
