.interested__wrapper {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  margin: 38px 24px 49px 24px;
}

.interested__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 32px;
}
