.introduce-form {
  width: 320px;
}

//   @media (min-width: @tablet-width) {
//     width: 648px;
//   }

//   @media (min-width: @desktop-width) {
//     width: 1200px;
//   }
//  }

.introduce-form__wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 29px 20px;
  margin: 0 auto;
}

.introduce-form__field {
  display: grid;
  margin: 0 auto;
  margin-bottom: 16px;
}

.introduce-form__title {
  padding: 0 55px 20px 55px;
}

.introduce-form__field-control {
  background: #f2f2f2;
  width: 280px;
  height: 58px;

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.introduce-form__field-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  align-items: center;
  text-transform: uppercase;
}

.form:not(:last-child)::after {
  content: "";
  display: block;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  order: 2;
  flex-grow: 1;
  align-items: center;
  left: 0;
  right: 0;
  padding-top: 8px;
}
