.reasons {
  background-color: #ffffff;
  align-items: center;
  text-align: center;
}

.reasons__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 11px;
}

.reasons__list {
  margin: 0 auto;
}

.reasons__header {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 18px;
  padding-right: 18px;
}

.reasons__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.reasons__item {
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
  margin: 0;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 24px;
}

.photo {
  padding: 0;
}

.reasons__item--important {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 37px 18px;
  padding-bottom: 13px;
}

.reasons__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.reasons__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-top: 24px;
}

.reasons__description--secondary::after {
  content: "";
  display: block;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  order: 2;
  flex-grow: 1;
  align-items: center;
  left: 0;
  right: 0;
  padding-top: 24px;
}
