.review {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  margin: 0;
}

.review__wrapper {
  @media (max-width: @mobile-width-only) {
    padding: 20px 7px 4px 7px;
  }

  @media (min-width: @tablet-width) {
    padding: 64px 166px 78px 166px;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 384px 40px 380px;
  }
}

.review__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  @media (max-width: @mobile-width-only) {
    margin: 22px 7px 0;
  }

  @media (min-width: @tablet-width) {
    line-height: 24px;
    margin-top: 0;
  }
}

.review__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.review::after {
  content: "";
  display: block;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  order: 2;
  flex-grow: 1;
  align-items: center;
  left: 0;
  right: 0;
  padding-top: 24px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.review-form__button {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 49px;
  text-transform: uppercase;
  text-align: center;
  border: none;

  @media (max-width: @mobile-width-only) {
    width: 280px;
    height: 58px;
    margin: 32px 20px 1px;
    padding: 0;
    font-size: 21px;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    margin: 46px 132px 64px 0;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
    margin-right: 156px;
    margin-top: 44px;
    margin-bottom: 60px;
    padding-top: 22px;
  }
}

.review-form__important {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #33333399;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    padding-left: 163px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 68px;
    margin-left: 88px;
    font-size: 14px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
    margin-left: 68px;
  }
}

.review-form__footer {
  display: grid;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 60px;
    grid-template-columns: 400px 248px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 216px;
    grid-template-columns: 540px 228px;
  }
}
